.editForm{
    width: 550px;
    height: 550px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        width : 55%;
        margin-top: 13px;
        height: 30px;
        background-color: $bg;
        border: none;
        border-bottom: 1px solid $text;
        transition: all .5s ease-in-out;
        color : $text;
        &:focus{
            outline: none;
            border-color:cadetblue;
            background-color: $bg;   
        }
    }
}