@import "src/client/scss/config/_variables.scss";
.join_div{
    height: 70vh;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .join_div__div{
        width: 70%;
        transition: all 0.3s ease-in;
        &:hover{
            box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
        }
        .joinForm{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 10px;
            border-color: none;
            input{
                width : 80%;
                margin-top: 13px;
                height: 30px;
                background-color: $bg;
                border: none;
                border-bottom: 1px solid $text;
                transition: all .5s ease-in-out;
                &:focus{
                    outline: none;
                    border-color:cadetblue;
                    background-color: $bg;
                    
                }

            }
            .loginBtn{
                border-bottom: none;
                border: 1px solid whitesmoke;
                color: tomato;
                border-radius: 10px;
                margin-top: 30px;
            }
        }
        .joinDiv{
            width: 100%;
            height: 50px;
            text-align: center;
            display: flex;
            &:nth-child(n){
                justify-content: center;
                align-items: center;
            }
            a{
                padding-left: 30px;
                color:aqua;
            }
        }
    }
}
