@import "src/client/scss/config/_variables.scss";
.join_div{
    .login_div{
        width: 100%;
        transition: all 0.3s ease-in;
        &:hover{
            box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
        }
        .loginForm{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input{
                width : 55%;
                margin-top: 13px;
                height: 30px;
                background-color: $bg;
                border: none;
                border-bottom: 1px solid $text;
                transition: all .5s ease-in-out;
                color : $text;
                &:focus{
                    outline: none;
                    border-color:cadetblue;
                    background-color: $bg;   
                }
            }
            .loginBtn{
                border-bottom: none;
                border: 1px solid whitesmoke;
                color: tomato;
                border-radius: 10px;
                margin-top: 30px;
            }
            .loginForm__github{
                display: blocks;
                margin-top: 20px;
                padding-top: 10px;
                &:hover{
                    color: aqua;
                }
            }
        }
        .joinDiv{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(n){
                margin-top: 20px;
                margin-bottom: 15px;
            }
            span{
                margin-right: 15px;
            }
            a{
                color: aqua;
            }
        }
    }
}