.watchDiv{
    display: flex;
    flex-direction: column;
    text-align: end;
    .watchVideo{
        width: 900px;
        height: 500px;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    .watchDiv__desDiv{
        width: 100%;
        text-align: end;
        .watchDiv__title{
            font-size: 25px;
            margin-bottom: 10px;
        }
        .watchDiv__dis{
            margin-bottom: 10px;
        }
    }
    .watchDiv__uploaderDev{
        width: 100%;
        text-align: end;
        justify-content: end;
        margin-bottom: 10px;
        display: flex;
        small{
            margin-right: 10px;
        }
        a{
            display: block;
            color: aquamarine;
        }
    }
    .date{
        margin-top: 15px;
        font-size: small;
        opacity: 0.7;
        margin-bottom: 30px;
    }
    .watichDiv__editDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: end;
        a{
            display: block;
            padding: 0px, 5px;
            color: aqua;
        }
    }
}