doctype html
html(lang="kr")
    head 
        title #{pageTitle} | CloneTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        block content
    include partials/footer.pug