extends ../base.pug

block content 
    div#videoContainer
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand
    //- div(class="watchDiv__desDiv")
    //-     p(class="watchDiv__title")=video.title
    //-     p(class="watchDiv__dis")=video.description
    //- div(class="watchDiv__uploaderDev")
    //-     small Uploaded by  
    //-     a(href=`/user/${video.owner._id}`) #{video.owner.name}
    //- if String(video.owner._id) === String(loggedInUser._id)
    //-     div(class="watichDiv__editDiv")
    //-         a(href=`${video.id}/edit`) Edit Videw &rarr;
    //-         a.deleteVideo Delete Videw &rarr;
    //- small(class="date")=video.createdAt 
block scripts
    script(src="/static/js/videoPlayer.js")
