extends ../base.pug

block content
    form(method="post")
        input(type="password", placeholder="Old password", name="oldPassword")
        input(type="password", placeholder="New password", name="newPassword")
        input(type="password", placeholder="New password confirm", name="newPasswordConfirmation")
        input(value="Change password", type="submit")